.navbar-light .navbar-nav .nav-link.active {
    color: rgb(0, 156, 96) !important;
    font-weight: 700;
}

.ax-home-logo {
    width: 70%;
    max-width: 250px;
    margin: 0 !important;
    cursor: pointer;
}